@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kode+Mono:wght@400..700&family=Source+Sans+3:wght@400;600;700&display=swap");

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 640px) {
  .container {
    padding: 1rem;
  }
  .grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
